<title>
    {% block title %}
        Knowledge Timeline
    {% endblock %}
</title>

{% block header %}
    <style>

        .container {
            width: 100%;
            height: calc(100% - 4.75em);
            margin: 0;
            margin-top: 1em;
            overflow: scroll;
            position: relative;
        }

        .heading {
            font-size: 3em;
            font-weight: 300;
            text-align: center;
            margin: auto;
            height: 1.25em;
        }

        .year {
            left: calc(50% - 5em);
            width: 10em;
            position: absolute;
            text-align: center;
            font-size: 1.5em;
        }

        .node {
            position: relative;
            padding: 0.5em;
            border: 0.1em solid gray;
            border-radius: 0.2em;
            width: 15em;
            height: 6em;
            align-items : center;
            display : flex;
            color: white;
            left: calc(50% - 7.5em);
        }

        {% for node in nodes %}
            #node{{ node.id }} {
                background-color: {{ node.group.color }};
            }

            #node{{ node.id }} .node-full {
                display: none;
            }

            #node{{ node.id }}:hover .node-summary {
                display: none;
            }

            #node{{ node.id }}:hover .node-full {
                display: block;
            }

            #node{{ node.id }}:hover {
                width: 25em;
                height: 20em;
                background-color: honeydew;
                color: black;
                left: calc(50% - 12.5em);
                transition-property: width, height, background-color, color, left;
                transition-duration: 0.5s;
                transition-timing-function: ease;
                z-index: 10;
            }
        {% endfor %}

        .node-summary {

        }

        .node-full {

        }

        .group-selection-panel {
            position: fixed;
            top: 1em;
            left: 1em;
            border: 0.1em solid gray;
            border-radius: 0.2em;
            padding: 1em;
            text-align: center;
            background-color: white;
        }

        .group {
            font-size: 110%;
            height: 2rem;
            width: 20rem;
            border-radius: 0.2rem;
            margin-bottom: 0.2rem;
            color: white;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
        }

        .group-checkbox {
            display: inline;
        }

        {% for group in groups %}
            #{{ group.id }} {
                background-color: {{ group.color }};
            }
        {% endfor %}

    </style>

    <script>
        function action(group) {
            const urlParams = new URLSearchParams(window.location.search);

            var groups = urlParams.get("groups");
            if (!groups) {
                groups = [];
            } else {
                groups = groups.split(",")
            }

            const checkbox = document.getElementById(group);
            if (checkbox.checked == true) {
                groups.push(group)
            } else {
                const index = groups.indexOf(group);
                if (index > -1) {
                    groups.splice(index, 1);
                }
            }

            groups = groups.join();

            if (history.pushState) {
                var newurl = window.location.origin + window.location.pathname + "?groups=" + groups;
                window.history.replaceState({path: newurl}, "", newurl);
            }

            window.location = window.location;
        }
    </script>
{% endblock %}

{% block heading %}
    <div class="heading">Knowledge Timeline</div>
{% endblock %}

{% block content %}
    <div class="container">
        {% for node in nodes %}
            <div class="node" id="node{{ node.id }}">
                <div class="node-summary">
                    {{ node.summary }}
                </div>
                <div class="node-full">
                    <div style="font-weight: bold;">
                        {{ node.title }}
                    </div>
                    {{ node.authors }}. {{ node.month }} {{ node.year }}
                    <br><br>
                    <div style="overflow-y: scroll; max-height: 10em;">
                        {{ node.description }}
                    </div>
                    <br><br>
                    <a href="{{ node.link }}" target="_blank">
                        <div style="text-align: center;">
                            link
                        </div>
                    </a>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>

    <div class="group-selection-panel">
        Select a group!
        <br><br>
        {% for group in groups %}
            <div>
                <input class="group-checkbox" type="checkbox" id="{{ group.id }}" {% if group.id in request.GET.groups %} checked {% endif %} onclick="action('{{ group.id }}')">
                <div class="group" id="{{ group.id }}">
                    {{ group.name }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
